/* andreas07 - an open source xhtml/css website layout by Andreas Viklund - http://andreasviklund.com . Free to use for any purpose as long as the proper credits are given for the original design work.

Version: 1.1, November 28, 2005 */

/**************** Page and tag styles ****************/

body
{margin:0; padding:0; color:#666666; background:#fafafa url(images/bodybg.gif) top left repeat-y; font-size: 0.82em; font-family: Verdana,Helvetica,Arial,sans-serif;}

h1, h2, h3 {
font-family:"Trebuchet MS",georgia,Verdana,Helvetica,Arial,Sans-serif;
font-weight:bold;
}

pre
{overflow:auto; background-color:rgba(230, 230, 230, 0.5);border:1px solid #e0e0e0;}

ul
{list-style:circle; margin:15px 0 20px 0; font-size:0.9em;}

li
{margin:0 0 8px 25px;}

a
{color:#105289; font-weight:bold; text-decoration:none;}

a:hover
{color:#505050; text-decoration:underline;}

img
{float:left; margin:0 15px 15px 0; padding:1px; background:#ffffff; border:1px solid #d0d0d0;}

a img
{border-color:#105289;}

a img:hover
{background:#105289; border-color:#105289;}

/**************** Sidebar area styles ****************/

#sidebar
{
  /*position:absolute; top:0; left:0;*/
  float: left;
  width:220px; height:100%; overflow:auto; background:#e0e0e0 url(images/sidebarbg.gif) top right repeat-y; text-align:right;}

body > #sidebar
{position:relative;}

#sidebar h1
{margin:20px 18px 0 5px; color:#105289; font-size:1.6em; letter-spacing:-2px; text-align:right;}

#sidebar h1 a
{color:#105289;}

#sidebar h2, #sidebar h3
{display:none;margin:0 20px 18px 5px; color:#808080; font-size:1.1em; font-weight:bold; letter-spacing:-1px; text-align:right;}

#sidebar h3
{display:none;margin:20px 18px 4px 5px; color:#606060;}

#sidebar  p
{margin:0 20px 18px 5px; color:#606060; font-size:0.8em;}

#sidebar a
{color:#808080}

#sidebar ul
{margin-right: 20px; margin-left: 5px; list-style-type: none;}

#sidebar li
{margin: 0px; padding-left: 5px;}

#sidebar #languages
{padding:5px 18px 5px 0;}

/**************** Navigation menu styles ****************/

#menu ul
{list-style-type: none; margin: 0px; padding: 0px; font-size: 1.0em;}

#menu li
{margin: 0px; padding: 0px}

#menu a,  #menu span
{display:block;
width:202px;
padding:5px 18px 5px 0;
color:#606060;
background:#e0e0e0 url(images/sidebarbg.gif) top right repeat-y;
font-size:1.4em;
font-weight:normal;
text-decoration:none;
letter-spacing:-1px;}

#menu a:hover, #menu span:hover
{color:#303030; background:#f0f0f0 url(images/sidebarbg.gif) top right repeat-y;}

#menu li.webgen-menu-item-selected a, #menu li.webgen-menu-item-selected span, #menu li.webgen-menu-submenu-inhierarchy span
{background:#fafafa; border-top:2px solid #c0c0c0; border-bottom:2px solid #c0c0c0;}

#menu li.webgen-menu-item-selected a:hover, #menu li.webgen-menu-item-selected span:hover, #menu li.webgen-menu-submenu-inhierarchy span:hover
{color:#505050; background:#fafafa;}

#menu li.webgen-menu-submenu ul 
{ margin:0px; padding: 0px;}

#menu li.webgen-menu-submenu ul li.webgen-menu-level2 a {
  font-size:1.1em;
  padding:1px 18px 1px 0;
}

#menu li.webgen-menu-submenu ul li.webgen-menu-item-selected a,
#menu li.webgen-menu-submenu ul li.webgen-menu-item-selected span,
#menu li.webgen-menu-submenu ul li.webgen-menu-submenu-inhierarchy span
{font-size:1.1em;}

/**************** Content area styles ****************/

#content
{width:498px; margin:0 0 0 240px; padding:20px 0; padding-right:40px;
background:#fafafa url(images/bg_whiteflag.jpg) top right no-repeat fixed;}

#content p
{margin:0 0 20px 0; line-height:1.5em;}

#content h1
{margin:0; color:#808080; font-weight:normal; font-size:2.5em; letter-spacing:-2px; text-align:center;}

#content h2
{ margin:30px 0 10px 0; color:#105289; font-weight:normal; font-size: 2em; letter-spacing:-2px;}

#content img
{max-width:480px;}